﻿@model LodiCornFest5k.ViewModels.Runners.RunnerDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Runner.FirstName} {Model.Runner.LastName} Results";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Race</th>
            <th>Age Group</th>
            <th>Overall Place</th>
            <th>Age Group Place</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>@result.Name</td>
                <td>@result.Gender</td>
                <td>
                    <a asp-controller="Results" asp-action="List" asp-route-year="@result.RaceYear" asp-route-name="@result.LinkName" target="_blank">@result.RaceName</a>
                </td>
                <td>
                    <a asp-controller="Results" asp-action="AgeGroup" asp-route-year="@result.RaceYear" asp-route-ageGroup="@result.AgeGroupLink" target="_blank">@result.AgeGroupName</a>
                </td>
                <td>
                    <a asp-controller="Results" asp-action="Overall" asp-route-year="@result.RaceYear" asp-route-place="@result.OverallPlace" target="_blank">@result.OverallPlace</a>
                </td>
                <td>
                    <a asp-controller="Results" asp-action="AgeGroup" asp-route-year="@result.RaceYear" asp-route-ageGroup="@result.AgeGroupLink" asp-route-place="@result.AgeGroupPlace" target="_blank">@result.AgeGroupPlace</a>
                </td>
                <td>@result.Time.ToString(@"mm\:ss\.ff")</td>
            </tr>
        }
    </tbody>
</table>