@{
    ViewData["Title"] = "Route Map";
}

<br /><br />
<div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1r5NJZDa6a2U2roDDo98NZqVcFAT0qDEU"></iframe>
</div>