@{
    ViewData["Title"] = "About The Race";
}

<h1>About The Race</h1>

<p>41<sup>st</sup> Annual Lodi Sweet Corn Festival 5K &amp; 1K Fun Run</p>

<p>Sponsored by the Lodi Chamber of Commerce.</p>

<p>The annual Lodi Sweet Corn Festival 5K &amp; 1K Fun Run is a fun family event that reunites alumni and community members.</p>

<p>All proceeds benefit the Cloverleaf Cross Country Team and Colt Pack CC Scholarship Fund. The Colt Pack CC Scholarship is awarded to 2 Cloverleaf Cross Country Team Members.</p>

<dl>
    <dt>2019 Recipients</dt>
    <dd>Jenna Oliver</dd>
    <dd>Tommie Kurtz</dd>
    
    <dt>2018 Recipients</dt>
    <dd>Katelyn Malena</dd>
    <dd>Tristan Vaughan</dd>
    
    <dt>2017 Recipients</dt>
    <dd>Riley Freeland</dd>
    <dd>Matt Butt</dd>
</dl>

<hr />

<h2>Event Details and Schedule</h2>

<dl>
    <dt>Race</dt>
    <dd>5K Race / 1K Fun Run</dd>
    
    <dt>Location</dt>
    <dd>
        In front of Lodi Family Center<br/>
        301 Mill Street<br/>
        Lodi, OH 44254
    </dd>
    
    <dt>Start Times</dt>
    <dd>
        8:15AM: Free Fun Run (1K)<br/>
        8:30AM: 5K Race
    </dd>
    
    <dt>Registration</dt>
    <dd>
        $25 Pre-Registration (Pre-Registration must be done by <strong>July 10<sup>th</sup></strong>)<br />
        $25 Late and Race Day Registration (No Race T-Shirts)
    </dd>
    
    <dt>Registration Website</dt>
    <dd>
        <a href="https://www.active.com/lodi-oh/running/distance-running-races/lodi-sweet-corn-festival-5k-and-fun-run-2019" target="_blank">https://www.active.com/lodi-oh/running/distance-running-races/lodi-sweet-corn-festival-5k-and-fun-run-2019</a>
    </dd>
    
    <dt>Facebook</dt>
    <dd>
        <a href="https://www.facebook.com/lodicornfest5k" target="_blank">https://www.facebook.com/lodicornfest5k</a>
    </dd>
</dl>