@{
    ViewData["Title"] = "Home";
    Layout = "_CoverLayout";
}

<h1 class="cover-heading">Lodi Sweet Corn Festival<br />5K & 1K Fun Run</h1>
<p class="lead">
    Saturday, July 20<sup>th</sup>, 2019 at 8:30am
</p>
<p class="lead">
    <a href="https://goo.gl/maps/UNcS8Pv6FTz" target="_blank">301 Mill St., Lodi, OH 44254-1427</a>
</p>
@* <p class="lead"><a href="https://www.active.com/lodi-oh/running/distance-running-races/lodi-sweet-corn-festival-5k-and-fun-run-2019" target="_blank">Register here!</a></p> *@
<p class="lead">Thank you for a successful race! See you next year!</p>