@{
    ViewData["Title"] = "Home";
    Layout = "_CoverLayout";
}

<h1 class="cover-heading">Lodi Corn Fest 5K & Fun Run</h1>
<p class="lead">
    Saturday, July 21<sup>st</sup>, 2018 at 8:45am
</p>
<p class="lead">
    <a href="https://goo.gl/maps/UNcS8Pv6FTz" target="_blank">301 Mill St., Lodi, OH 44254-1427</a>
</p>
<p class="lead">Thank you for a successful race! See you next year!</p>