<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/sticky-footer.css" />
    @RenderSection("Styles", false)

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <script src="https://kit.fontawesome.com/cd5278743f.js" integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG" crossorigin="anonymous"></script>
    <meta name="msapplication-TileColor" content="~/#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"] | Lodi Corn Festival 5K &amp; 1K Fun Run</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83190618-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83190618-3');
    </script>
</head>
<body data-spy="scroll" data-target="#toc">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Lodi Corn Fest 5K</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li asp-controller="Home" asp-action="Index" is-active-route class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li asp-controller="Home" asp-action="About" is-active-route class="nav-item">
                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                </li>
                <li asp-controller="Results" asp-action="Index" is-active-route class="nav-item">
                    <a asp-controller="Results" asp-action="Index" class="nav-link">Results</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        All-Time Records
                    </a>
                    <ul class="dropdown-menu">
                        <a asp-controller="Records" asp-action="Overall" class="dropdown-item" is-active-route>Overall</a>
                        <a asp-controller="Records" asp-action="AgeGroup" class="dropdown-item" is-active-route>Age Group</a>
                    </ul>
                </li>
                <li asp-controller="Route" asp-action="Index" is-active-route class="nav-item">
                    <a asp-controller="Route" asp-action="Index" class="nav-link">Route Map</a>
                </li>
                @* <li class="nav-item"> *@
                @*     <a href="https://www.active.com/lodi-oh/running/distance-running-races/lodi-sweet-corn-festival-5k-and-fun-run-2019" target="_blank" class="nav-link">Registration <i class="far fa-external-link-square"></i></a> *@
                @* </li> *@
            </ul>
        </div>
    </nav>
    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">LodiCornFest5k.com is made with &#10084; by <a href="https://twitter.com/TonyTalksTech" target="_blank">Tony Morris</a></span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    @RenderSection("Scripts", false)
</body>
</html>
