﻿@model LodiCornFest5k.ViewModels.Results.OverallViewModel

@{
    ViewData["Title"] = $"{Model.Race.Name} Overall Results";
}

<div class="row">
    <div class="col-sm-2">
        <nav class="nav flex-column nav-pills">
            <span class="navbar-brand">@ViewData["Title"]</span>
            <a class="nav-link" is-active-route asp-controller="Results" asp-action="List" asp-route-year="@Model.Race.Date.Year">Runner List</a>
            <a class="nav-link" is-active-route asp-controller="Results" asp-action="Overall" asp-route-year="@Model.Race.Date.Year">Overall Results</a>
            <a class="nav-link" is-active-route asp-controller="Results" asp-action="AgeGroup" asp-route-year="@Model.Race.Date.Year">Results by Age Group</a>
        </nav>
    </div>
    <div class="col-sm-10">
        <h1>Overall Results</h1>
        <h2>@Model.Race.Name</h2>

        <table class="table table-striped">
            <caption>Overall Results of @Model.Race.Name</caption>
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age Group</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td>@result.Place</td>
                        <td>
                            <a asp-controller="Runners" asp-action="RunnerDetails" asp-route-runnerName="@result.LinkName" target="_blank">@result.Name</a>
                        </td>
                        <td>@result.Gender</td>
                        <td>@result.AgeGroupName</td>
                        <td>@result.Time.ToString(@"mm\:ss\.ff")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>